<div class="container">
    <div class="content-wrapper">
        <mat-form-field appearance="fill">
            <textarea [(ngModel)]="text" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Say something..."></textarea>
        </mat-form-field>
        <div class="new-post-action-container">
            <button (click)="post()" mat-raised-button class="post-button">Post</button>
             
            <mat-form-field class="image-button">
                <ngx-mat-file-input class="image-input" #removeableInput placeholder="Upload image" (change)="onFileSelected($event)"></ngx-mat-file-input>
                <button mat-icon-button matSuffix *ngIf="!removeable.empty (click)="removeableInput.clear($event)">
                <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
          </div>

          <mat-card class="post-card" *ngFor="let post of posts.reverse(); let i = index">
           <mat-card-header>
               <mat-card-title>
                {{post.username}}
               </mat-card-title>
           </mat-card-header>
           <img *ngIf="post.imageURL != ''" [src]="post.imageURL" alt="image" mat-card-image>
          <mat-card-content>
            <p>
                {{post.text}}
            </p>
          </mat-card-content>
          <mat-card-action>
              <button (click)="like(post.id)" class="like-button" mat-icon-button disabledRipple="true">
                  <mat-icon> {{post.likes.indexOf(userService.user.id) >= 0 ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
              <span>{{post.likes.length}} liked it</span>
              </mat-card-action>
              <div class="comments-container">
              <div class="comments">
                  <div class="title">
                      comments

                  </div>
                  <p *ngFor="let comment of post.comments"><b>{{comment.username}}:</b> {{comment.comment}}</p>
              </div>
              <div class="comment-input">
                  <mat-form-field class="comment-form-field">
                   <input [(ngModel)]="commentText[i]" matInput type="text" placeholder="Add a comment">
                  </mat-form-field>
                  <button (click)="comment(post.id, i)" class="comment-button" mat-button>Comment</button>
              </div>
              </div>
             </mat-card>
 </div>
</div>